@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
$font_Montserrat: 'Montserrat',sans-serif;
$font_Blinker: 'Blinker',sans-serif;

.fw-red{
    color:var(--red)
}
.fw-green{
    color:var(--green)
}
.fw-yellow{
    color:var(--yellow)
}
.fw-blue{
    color:var(--lightblue)
}